[Unit]
Description="Gunicorn - A Python WSGI HTTP Server for UNIX"
Documentation=https://gunicorn.org/#docs
Requires=network-online.target vault-agent.service vault-proxy.service
After=network-online.target vault-agent.service vault-proxy.service
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=notify
User=www-data
Group=www-data
ProtectSystem=full
ProtectHome=read-only
PrivateTmp=yes
PrivateDevices=yes
SecureBits=keep-caps
NoNewPrivileges=yes
WorkingDirectory=/opt/webapp
ExecStartPre=/bin/bash -c '[[ $(ls -A /opt/webapp/tls) ]] || /usr/bin/inotifywait -e create -t 60 /opt/webapp/tls'
ExecStart=/opt/webapp/venv/bin/gunicorn src.main:app \
  --bind 0.0.0.0:8000 \
  --workers 2 \
  --worker-class uvicorn.workers.UvicornWorker \
  --certfile=/opt/webapp/tls/server.pem \
  --keyfile=/opt/webapp/tls/server.key
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=mixed
KillSignal=SIGTERM
Restart=on-failure
RestartSec=5
TimeoutStopSec=30
LimitNOFILE=65536
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target